.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App .desc {
  padding: 0 15px;
  border: 2px solid black;
  margin: 0 15px;
}

.App .desc h1 {
  text-align: center;
}

.App .qpanel {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .qpanel input {
  width: 300px;
  height: 50px;
  border: 2px solid black;
  font-size: 30px;
}

.App input[type='button'] {
  cursor: pointer;
  padding: 20px;
  border: 0px;
  background-color: skyblue;
  width: 200px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
}